<div class="text-center">
  <h3>Edit Sub-Admin : </h3>
</div>
<div class="shadow p-3 mb-5 bg-white rounded">
<div class="container px-2   " class="z-index:10; ">
<form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label"><strong>Admin Id : </strong></label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="adminId" placeholder="Admin Id" [ngModel]="id" readonly>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label"><strong>Admin Password : </strong></label>
      <div class="col-sm-10">
        <input type="text" class="form-control"  placeholder="Password" name="password" [(ngModel)]="subAdminData.AdminPassword" required>
      </div>
    </div>
    <br>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label"><strong>Permissions : </strong></label>
      <div class="col-sm-10">
        <div class="ml-4" *ngFor="let perm of subAdminPerm">
          <label for=""  style="color:darkred">{{perm}}</label>          
      </div>      
      </div>
      <br>
     
    </div>
 
  

    <div class="form-group row">
      <div class="ml-2"> <strong>* Set New Permissions :  <br></strong></div>
      <br>
      <div class="ml-4">
       <br> 
       <div class="form-check" *ngFor="let perm of permissions">
          <input class="form-check-input" type="checkbox" id="gridCheck1"  name="prem"  [value]="perm"  (change)="data($event,perm)" #checkBox ngModel>
          <label class="form-check-label" for="gridCheck1">
            {{perm}}
          </label>
        </div>
    
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-5">
        <button type="submit" [disabled]="!form.valid" class="btn" style="background-color: #F06528; width: 200px;border-radius: 10px; color: white;">Save Changes</button>
      </div>
      <div class="col-sm-5">
        <button type="button" (click)="deleteSubAdmin(id)" class="btn" style="background-color: #F06528; width: 200px;border-radius: 10px; color: white;">Delete Sub-Admin</button>
      </div>
    </div>
  </form>
  </div>
  </div>
  